<!-- email box  -->
<div class="w-screen h-screen flex align-items-start justify-content-center pt-5 surface-overlay" *ngIf="!tokenprovided">
	<div class="p-5 border-round shadow-6 w-11 hover:shadow-8 transition-duration-500 sm:w-11 md:w-10 lg:w-9 m-auto surface-overlay text-center">

		<h1 class="text-primary mb-5">
			Hey there
		</h1>
		<p class="w-8 m-auto">
			It seems like you have forgotten your password kindly provide your email to be presented with a password reset token
		</p>
		<form action="" [formGroup]="emailForm" (ngSubmit)="sendCode()">
			<input type="email" class="w-11 m-auto h-3rem text-xl pl-3 mt-5 border-2 border-primary border-round hover:border-blue-500 focus:border-orange-500 
			transition-duration-500 outline-none" formControlName="email">

			<button type="submit" pButton severity="info" label="submit" class="w-5 h-3rem mt-4" [disabled]="emailForm.invalid"></button>
		</form>
		

	</div>
</div>


<!-- token goes here  -->
<div class="w-screen h-screen flex align-items-start justify-content-center pt-5 surface-overlay" *ngIf="tokenprovided  && !(otpvalid) " >
	<div class="p-5 border-round shadow-6 w-11 sm:w-11 md:w-10 lg:w-9 m-auto surface-overlay text-center">

		<h1 class="text-primary mb-5">
			Token confirmation
			<!-- {{ otpvalid }} -->
		</h1>
		<p class="w-8 m-auto">
			Enter the provided token for validation
		</p>
		
		<form [formGroup]="tokenform" (ngSubmit)="ConfirmToken()">

		<div class="field">
			<label for="">Token</label>
			<input type="number" formControlName="token" class="h-3rem w-full"  pInputText>
		</div>

		<button pButton severity="info" label="submit" class="w-5 h-3rem border-round mt-3"></button>			
		</form>
	</div>
</div>


<!-- password reset box  -->

<div class="w-screen h-screen flex align-items-start justify-content-center pt-5 surface-overlay" *ngIf="otpvalid" >
	<div class="p-5 border-round shadow-6 w-11 sm:w-11 md:w-10 lg:w-9 m-auto surface-overlay text-center">

		<h1 class="text-primary mb-5">
			Password reset
		</h1>
		<p class="w-8 m-auto">
			Enter the new password
		</p>
		
		<form [formGroup]="passwordform" (ngSubmit)="newpassword()">
			<div class="inline-flex flex-column w-12 mt-5">
				<label for="pass text-left text-xl w-full">Password</label>
				<input type="password" name="" id="" class="w-5 m-auto h-3rem mt-3" feedback="false" pPassword [showPassword]="showpass" formControlName="password">
			</div>
			<div class="inline-flex flex-column w-12 mt-4">
				<label for="pass text-left text-xl w-full">Confirm Password</label>
				<input type="password" name="" id="" class="w-5 m-auto h-3rem mt-3" feedback="false" pPassword [showPassword]="showpass" formControlName="confpass">
			</div>
			<div class="mt-5 w-5 m-auto  flex-custom p-0">
				<p-toggleButton
				styleClass="w-full h-3rem my-2"
				offLabel="Show password"
				onLabel="hide password"
				(onChange)="showpasss()" />
			</div>

			<div class="field mt-3">
				<p-button icon="" label="Update Password" severity="success" styleClass="p-2 w-full" [disabled]="passwordform.invalid" type="submit"></p-button>
			</div>



			
		</form>
	</div>
</div>

<div class="absolute top-left surface-overlay shadow-7 p-3 border-round text-primary cursor-pointer hover:uppercase " (click)="goBack()">
	<span class="pi pi-chevron-left"></span>
	<span>
		Go back
	</span>
</div>


<p-toast></p-toast>