<!-- email box  -->
<div class="w-screen h-screen flex align-items-start justify-content-center pt-5 surface-overlay" *ngIf="!tokenprovided">
	<div class="p-5 border-round shadow-6 w-11 sm:w-11 md:w-10 lg:w-9 m-auto surface-overlay text-center">

		<h1 class="text-primary mb-5">
			Hey there
		</h1>
		<p class="w-8 m-auto">
			It seems like you have forgotten your password kindly provide your email to be presented with a password reset token
		</p>
		<form action="">
			<input type="email" class="w-11 m-auto h-3rem text-xl pl-3 mt-5 border-2 border-primary border-round hover:border-blue-500 focus:border-orange-500 
			transition-duration-500 outline-none">

			<button type="submit" pButton severity="info" label="submit" class="w-5 h-3rem mt-4"></button>
		</form>
		

	</div>
</div>


<!-- token goes here  -->
<div class="w-screen h-screen flex align-items-start justify-content-center pt-5 surface-overlay" *ngIf="tokenprovided  && !(otpvalid) " >
	<div class="p-5 border-round shadow-6 w-11 sm:w-11 md:w-10 lg:w-9 m-auto surface-overlay text-center">

		<h1 class="text-primary mb-5">
			Token confirmation
			<!-- {{ otpvalid }} -->
		</h1>
		<p class="w-8 m-auto">
			Enter the provided token for validation
		</p>
		
		<!-- <form> -->
		<p-inputOtp [(ngModel)]="otp" class="flex align-items-center justify-content-center p-2">
		    <ng-template pTemplate="input" let-token let-events="events">
		        <input 
		            pInputText 
		            class="custom-otp-input border-2 outline-none border-round h-3rem w-4rem font-bold text-5xl text-center" 
		            (input)="events.input($event)" 
		            (keydown)="events.keydown($event)" 
		            type="text" 
		            [attr.value]="token" 
		            [maxLength]="1" />
		    </ng-template>
		</p-inputOtp>

		<button pButton severity="info" label="submit" class="w-5 h-3rem border-round mt-3"></button>			
		<!-- </form> -->
	</div>
</div>


<!-- password reset box  -->

<div class="w-screen h-screen flex align-items-start justify-content-center pt-5 surface-overlay" *ngIf="otpvalid" >
	<div class="p-5 border-round shadow-6 w-11 sm:w-11 md:w-10 lg:w-9 m-auto surface-overlay text-center">

		<h1 class="text-primary mb-5">
			Password reset
		</h1>
		<p class="w-8 m-auto">
			Enter the new password
		</p>
		
		<form>
			<div class="inline-flex flex-column w-12 mt-5">
				<label for="pass text-left text-xl w-full">Password</label>
				<input type="password" name="" id="" class="w-5 m-auto h-3rem mt-3" feedback="false" pPassword [showPassword]="showpass">
			</div>
			<div class="inline-flex flex-column w-12 mt-4">
				<label for="pass text-left text-xl w-full">Confirm Password</label>
				<input type="password" name="" id="" class="w-5 m-auto h-3rem mt-3" feedback="false" pPassword [showPassword]="showpass">
			</div>
			<div class="mt-5 w-5 m-auto  flex-custom p-0">
				<p-toggleButton
				styleClass="w-4rem h-3rem"
				offIcon="pi pi-eye"
				onIcon=" pi pi-eye-slash"
				(onChange)="showpasss()" />
			</div>



			
		</form>

		

	</div>
</div>

<div class="absolute top-left surface-overlay shadow-7 p-3 border-round text-primary cursor-pointer hover:uppercase " (click)="goBack()">
	<span class="pi pi-chevron-left"></span>
	<span>
		Go back
	</span>
</div>