<div class="  lost w-screen min-h-screen h-screen min-w-screen max-h-screen max-w-screen overflow-hidden flex align-items-center justify-content-center flex-column">
    <h1 class="text-xl md:text-8xl  animation-duration-500 text-red-500 font-bold">404</h1>
    <h2 class=" animation-duration-500 text-white text-sm md:text-6xl my-4">HEY LOOKS LIKE YOU ARE LOST </h2>
    <p-button icon="pi pi-chevron-left" label="Go back" styleClass="p-2 w-10rem border-round" [outlined]="true" severity="danger" (onClick)="goback()"></p-button>
</div>