<div class="w-full">
	<h1>
		Modify System settings
	</h1>
	<p-divider></p-divider>
	<div class="mt-3 grid">
		<div class="col-12 lg:col-6 surface-overlay">
			<div class="w-full h-full p-2 shadow-1">
				<h2>Landing page Advert</h2>
				<p-divider></p-divider>

				<div class="w-full p-2 my-2 flex shadow-2 border-round flex-column gap-2 surface-100">
					<h4>Title</h4>
					<p-divider styleClass="w-12 lg:w-2"></p-divider>
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, atque. Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Ducimus, quia.
					</p>
					<p-divider></p-divider>
				</div>
				<div class="w-full p-2 my-2 flex shadow-2 border-round flex-column gap-2 surface-100">
					<h4>Description</h4>
					<p-divider styleClass="w-12 lg:w-2"></p-divider>
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, atque.
					</p>
					<p-divider></p-divider>
				</div>
				<div class="w-full p-2 my-2 flex shadow-2 border-round flex-column gap-2 surface-100">
					<h4>image link</h4>
					<p-divider styleClass="w-12 lg:w-2"></p-divider>
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, atque.
					</p>
					<p-divider></p-divider>
				</div>
				<div>
					<p-button label="Update landing page" severity="info" styleClass="p-2 h-3rem w-full" outlined="true"></p-button>
				</div>

			</div>
		</div>
	</div>
</div>