<div class="relative hero w-screen bg-cover bg-center  bg-no-repeat xs:bg-contain">
    <div class="absolute bottom-0 left-0 w-full p-4 inline-flex  align-content-center justify-content-between">
        <div>
            <h2 class="text-white uppercase text-2xl md:text-6xl font-normal">
                2024 lotus collection
            </h2>
            <p class="mt-2 p-1 line-height-2 text-xl md:text-xl">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente rem vero, possimus aut eaque distinctio!
            </p>
        </div>
        <div>
        </div>
    </div>
</div>
<nest-new-arrival></nest-new-arrival>