<div class="grid">
  <div class="col-12 md:col-4 p-2">
    <div class="w-full shadow-3 p-2 min-h-screen h-full">
      <img src="images/user1.jpg" alt="" class="w-full h-15rem shadow-2 border-round">
      <p-divider></p-divider>
      <div class="p-2">
        <div class="flex mb-2 gap-2 flex-column shadow-none hover:surface-hover p-2 border-round transition-duration-500">
          <h4 class="font-bold">Username</h4>
          <p class="font-medium">Username goed here </p>
          <p-divider />
        </div>
        <div class="flex mb-2 gap-2 flex-column shadow-none hover:surface-hover p-2 border-round transition-duration-500">
          <h4 class="font-bold">Full Name</h4>
          <p class="font-medium">firstname lastname</p>
          <p-divider />
        </div>
        <div class="flex mb-2 gap-2 flex-column shadow-none hover:surface-hover p-2 border-round transition-duration-500">
          <h4 class="font-bold">Email</h4>
          <p class="font-medium">Email address goes here</p>
          <p-divider />
        </div>
        <div class="flex mb-2 gap-2 flex-column shadow-none hover:surface-hover p-2 border-round transition-duration-500">
          <h4 class="font-bold">Member since</h4>
          <p class="font-medium">Aug 12 2023</p>
          <p-divider />
        </div>
        <div>
          <p-button label="Make changes" styleClass="p-2 w-full h-3rem" text="true"></p-button>
        </div>

      </div>

    </div>
  </div>
  <div class="col-12 lg:col-8 p-2 ">
    <div class="w-full shadow-2 min-h-screen p-2">
      <div class="w-full p-2  mb-2 border-round">
        <h3>Account Settings</h3>
        <p-divider></p-divider>
        <div class="flex mb-2 gap-2 flex-column shadow-none hover:surface-hover p-2 border-round transition-duration-500">
          <h4 class="font-bold">Last login</h4>
          <p class="font-medium">Last login</p>
          <!-- <p-divider /> -->
        </div>
        <div class="flex mb-2 gap-2 flex-column shadow-none hover:surface-hover p-2 border-round transition-duration-500">
          <h4 class="font-bold">Selected theme</h4>
          <p class="font-medium">Default theme</p>
          <!-- <p-divider /> -->
        </div>
        <div class="flex mb-2 gap-2 flex-column shadow-none hover:surface-hover p-2 border-round transition-duration-500">
          <h4 class="font-bold">Email</h4>
          <p class="font-medium">Email address goes here</p>
          <!-- <p-divider /> -->
        </div>
      </div>
      <p-divider></p-divider>
      <div class="w-full my-2 p-2">
        <h3>Shiping Info</h3>
        <p-divider></p-divider>
        <div class="flex mb-2 gap-2 flex-column shadow-none hover:surface-hover p-2 border-round transition-duration-500">
          <h4 class="font-bold">Pickup station</h4>
          <p class="font-medium">station name</p>
          <!-- <p-divider /> -->
        </div>
        <div class="flex mb-2 gap-2 flex-column shadow-none hover:surface-hover p-2 border-round transition-duration-500">
          <h4 class="font-bold">Drop Phone numberr</h4>
          <p class="font-medium">phone number</p>
          <!-- <p-divider /> -->
        </div>
        <div class="flex mb-2 gap-2 flex-column shadow-none hover:surface-hover p-2 border-round transition-duration-500">
          <h4 class="font-bold">Backup phone number</h4>
          <p class="font-medium">phone no goes here</p>
          <p-divider />
        </div>
        <div class="w-full">
          <p-button label="make changes" severity="success" styleClass="p-2 h-3rem w-full" text="true"></p-button>
        </div>
      </div>
      <div class="w-full p-2 bg-red-100 border-round mt-2">
        <h3>Danger Zone</h3>
        <p-divider></p-divider>
        <div class="mt-2 flex align-items-center justify-content-end">
        <p-button label="Delete Account" styleClass="p-2 h-3rem text-right" severity="danger"></p-button>          
        </div>

      </div>
    </div>
  </div>
</div>

<p-dialog></p-dialog>