<p-card [header]="name" subheader=""  styleClass="m-1  surface-overlay  shadow-4 border-round hover:shadow-7 transition-duration-500 ">
    <p-header>
        <img [ngSrc]="imageurl" alt="product image" width="300" height="500"   class="w-full m-auto h-10rem mb-4">
    </p-header>
    <p-footer class="mt-4 flex justify-content-between p-2">
        <p-button icon="pi pi-cart-plus" label="  Cart " styleClass="p-2 px-3  mr-3 mt-3" [outlined]="true"></p-button>
        <span class="flex-custom">
            <p-button icon="pi pi-heart-fill"  severity="danger" styleClass="p-2  mr-4 mt-3" [outlined]="true"></p-button>
            <p-button icon="pi pi-chevron-right"  styleClass="p-2 mt-3" [outlined]="true" title="more details" severity="info" [routerLink]="['/product', productid]"></p-button>
        </span>

    </p-footer>
</p-card>