<router-outlet></router-outlet>

<div class="fixed z-5 gear bottom-50 right-0 p-3 shadow-8 surface-0 border-round-left ">
    <p-button icon="pi pi-palette" styleClass="p-2" outlined="true" (click)="pallete.toggle($event)" ></p-button>
    <p-menu  [model]="items" #pallete [popup]="true" styleClass="relative top-100 left-0 w-14rem mt-3 overflow-y-scroll h-15rem transition-duration-500  " [draggable]="true">
        <ng-template pTemplate="start">
            <div class="flex h-2rem align-items-center justify-content-center font-bold text-primary  ">
                Available themes
            </div>
        </ng-template>
        <ng-template pTemplate="item" let-item>
            <p class="w-full h-2rem border-round  flex align-items-center justify-content-start gap-3 p-2 cursor-pointer">
                <i class="text-primary  ">

                    <i [class]="item.icon"></i>
                </i>
                {{ item.label }}
            </p>
        </ng-template>
    </p-menu>

</div>