<div class="p-3 " *ngIf="loading">
    <p-skeleton styleClass="w-6rem h-2rem"></p-skeleton>

    <div class="grid mt-3  p-1">
        <div class="col-12 md:col-6 lg:col-6 xl:col-6 grid">
            <div class="col-12">
                <p-skeleton styleClass="w-full h-30rem"></p-skeleton>
            </div>
            <div class="flex-custom col-12 overflow-x-scroll gap-1">
                <p-skeleton styleClass="w-7rem h-6rem"></p-skeleton>
                <p-skeleton styleClass="w-7rem h-6rem"></p-skeleton>
                <p-skeleton styleClass="w-7rem h-6rem"></p-skeleton>
                <p-skeleton styleClass="w-7rem h-6rem"></p-skeleton>
                <p-skeleton styleClass="w-7rem h-6rem"></p-skeleton>

            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6 xl:col-6 p-2">
            <p-skeleton styleClass="w-12rem h-3rem mb-4"></p-skeleton>
            <p-skeleton styleClass="w-full h-3rem"></p-skeleton>
            <p class="mt-2 mb-2">
                <p-skeleton styleClass="w-15rem h-2rem"></p-skeleton>
            </p>
            <div class="mt-2 mb-2">
                <p-skeleton styleClass="w-14rem h-3rem"></p-skeleton>
            </div>
            <div class="my-2 flex align-content-center justify-content-center gap-2">
                <div class=" border-1 border-solid text-white  h-4rem border-round-3xl flex-custom">
                    <p-skeleton styleClass="w-15rem h-4rem mx-2"></p-skeleton>
                </div>
                <div class="flex align-items-center justify-content-center flex-column w-10rem ml-3">
                    <p-skeleton styleClass="ml-2 w-15rem h-4rem "></p-skeleton>

                </div>
            </div>
            <div class="flex mt-3 align-items-center justify-content-center gap-2 mb-2">
                <p-skeleton styleClass="w-17rem h-4rem mx-1"></p-skeleton>
                <p-skeleton styleClass="w-17rem h-4rem mx-1"></p-skeleton>

            </div>
    
    
            <div class=" my-2">
                <p-skeleton styleClass="w-full h-4rem"></p-skeleton>
            </div>
            <div class="">
                <p-skeleton styleClass="w-full h-4rem"></p-skeleton>
            </div>
        </div>  
    
    
    </div>
</div>


<div class="fadein animation-duration-500" *ngIf="!(loading) && !(producterror) && product">
    <div class="grid mt-3  p-1 h-full">
        <div class="col-12 md:col-6 lg:col-6 xl:col-7 grid overflow-hidden">
            <div class="col-12 ">
                <p-image [src]="imageurl" styleClass="w-full h-full image "  width="100%" preview="true" ></p-image>
    
            </div>
            <div class="flex-custom col-12 overflow-x-scroll gap-2">
            <img [src]="image" alt="" class="w-6rem border-solid border-2 border-primary p-2 cursor-pointer" *ngFor="let image of productdata.other_images.other_images" (click)="setimage(image)">
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-6 xl:col-5 p-2">
            <p class="font-medium text-xl cursor-pointer">
                sony / New tv
            </p>

            <h2 class="font-bold my-3">
                {{ product.name }}
            </h2>
            <p-tag [value]="tag" severity="info" styleClass="p-1 px-2 mr-1" [rounded]="true" *ngFor="let tag of productdata.tags.tags"></p-tag>
            <br> <br>
            <p-rating [cancel]="false" [(ngModel)] = rating>

            </p-rating>
            <h4 class="font-bold my-2 mt-4">Product description</h4>
            <p class="text-justify w-11">
                {{ product.description }}
            </p>

            <h4 class="font-bold my-3">
                Item quantity 
            </h4>
            <div class="surface-200 max-w-max p-2 border-round-3xl">
                <p-button [disabled]="checkifdisabled()" icon="pi pi-minus" severity="danger" styleClass="p-1 w-2rem mr-2 h-2rem" [outlined]="true" [rounded]="true" (onClick)="decrement()"></p-button>
                <span class="font-bold text-3xl text-primary"> {{count()}} </span>
                <p-button icon="pi pi-plus" severity="info" styleClass="p-1 w-2rem ml-2 h-2rem" [outlined]="true" [rounded]="true" (onClick)="increment()"></p-button>

            </div>

            <h4 class="mt-5 mb-3 font-bold text-3xl">$ {{ product.price }} </h4>
            <div class="p-2 surface-300 w-9 m-auto">
                <h5 class="text-900">15% discount for membership</h5>
                <p class="text-sm">Enter sony mebership customers to get a 15 percent discount with a minimum shoppin gof 1000 dollars</p>
            </div>

            <div class="mt-4">
                <p-toast></p-toast>
                <p-button styleClass="w-5 mr-3 h-3rem bg-bluegray-800 p-button border-1 border-bluegray-800  hover:shadow-5 hover:surface-800 transition-duration-500" label="Buy Now" (onClick)="directBuy()"></p-button>
                <p-button label="Add to cart" styleClass="w-5 h-3rem" [outlined]="true" severity="success" (onClick)="sidebravisible=true"></p-button>
            </div>
        </div>  
    
    
    </div>
    <p-divider></p-divider>
    <h3 class="ml-3 my-4">Similar products you may like</h3>
    <div class="grid px-2 overflow-x-auto">
        
    </div>
    <div class="grid px-2 hidden">
        <div class="col-12 md:col-6 xl:col-3 lg:col-3">
            <nest-skeleton-card></nest-skeleton-card>
        </div>
        <div class="col-12 md:col-6 xl:col-3 lg:col-3">
            <nest-skeleton-card></nest-skeleton-card>
        </div>
        <div class="col-12 md:col-6 xl:col-3 lg:col-3">
            <nest-skeleton-card></nest-skeleton-card>
        </div>
        <div class="col-12 md:col-6 xl:col-3 lg:col-3">
            <nest-skeleton-card></nest-skeleton-card>
        </div>
        
    </div>
</div>

<div class="w-12 p-5 text-center text-3xl text-red-500" *ngIf="!(loading) && !(product)">
    
    product not found

</div>


<p-sidebar [(visible)]="sidebravisible"
    [dismissible]="true"
    [modal]="true"
    styleClass="p-2 "
    position = "right"
    [closeOnEscape]="true"
    
    >
    <ng-template pTemplate="header">
        <div class="w-full h-4rem flex align-items-center justify-content-center">
            <h2>Add to cart</h2>
        </div>
    </ng-template>
    @if(loggedin){
    <div class="p-2 flex flex-wrap gap-2">
    <p-button *ngFor="let cart of carts"
              [label]="cart.name"
              styleClass= "p-2 w-full"
              (onClick)="addToCart(cart.id)">
    </p-button>

    </div>
    <div class="p-2">
        <p-button icon="pi pi-plus" label="add cart"  outlined="true" routerLink="carts" styleClass="p-2"></p-button>
    </div>

}@else {
    <div class="p-2 w-full ">
        <p-button styleClass="w-6 mx-auto my-4 p-2" routerLink="/login" icon = "pi pi-user" severity="success" label ="login" />
    </div>
}

</p-sidebar>
