<div class="mt-5">
    <h1 class="text-center text-2xl md:text-6xl uppercase">{{ categorydata?.longname }}</h1>
    <p class="text-center text-sm my-2 md:text-2xl">{{ categorydata?.description }}</p>

    <div class="grid m-auto w-12 md:w-10 mt-4" *ngIf="paginatedProducts.length > 0">
        <div class="col-12 sm:col-6 md:col-6 lg:col-4 xl:col-3" *ngFor="let product of paginatedProducts; trackBy: trackByIndex">
            <nest-card [imageurl]="product.main_image || imageurl" [name]="product.name" [price]="product.price" [productid]="product.id" [vendor]="product.vendor"></nest-card>
        </div>
    </div>

    <div *ngIf="products.length > 0">
        <p-paginator
            (onPageChange)="onPageChange($event)"
            [first]="first"
            [rows]="rows"
            [totalRecords]="totalRecords"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords}">
        </p-paginator>
    </div>

    <div class="grid m-auto w-12 md:w-10 mt-4" *ngIf="loading && !(productserror || categoryError)">
        <!-- Add skeleton cards or loading indicators here as you already have in your code -->
    </div>

    <div class="w-12 p-3" *ngIf="productserror || categoryError">
        {{ errormessage || categorymessage }}
    </div>

    <div class="p-2 w-12 text-center mt-5" *ngIf="paginatedProducts.length == 0 && loading == false">
        No products listed yet for this category.
    </div>
</div>

