<p-toast [life]="3000"/>
<div class="w-screen h-screen  ">
        <div class=" w-12 sm:w-10 md:w-8 lg:w-6 m-auto p-4 border-round-xl shadow-3 overflow-y-scroll overflow-x-hidden hover:shadow-6 focus:border-orange-400 ">
            <div>
                <h2 class="text-center text-4xl md:text-4xl lg:text-6xl font-bold cursor-pointer" routerLink="/">CartNest</h2>
                <h3 class="my-4 text-center  text-xl text-primary">
                     {{ label }}
                </h3>
            </div>
            <form action="" [formGroup]="registerform" (ngSubmit)="register()">
                <div class="formgrid grid " >
                    <div class="field col-12 md:col-6">
                        <label for="username" class="line-height-4 w-full text-xl">Username</label>
                        <input type="text" class="input-field" autofocus pInputText formControlName="username">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="email" class="line-height-4 w-full text-xl">Email</label>
                        <input type="email" class="input-field" pInputText formControlName="email">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="firstname" class="line-height-4 w-full text-xl">firstname</label>
                        <input type="text" class="input-field" pInputText formControlName="firstname">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="lastname" class="line-height-4 w-full text-xl">Lastname</label>
                        <input type="text" class="input-field" pInputText formControlName="lastname">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="password" class="line-height-4 w-full text-xl">Password</label>
                        <input type="password" class="input-field" pPassword feedback="false" [showPassword]="show" formControlName="password">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="cpass" class="line-height-4 w-full text-xl">Confirm Password</label>
                        <input type="password" class="input-field" pPassword feedback="false" [showPassword]="show" formControlName="confpass">
                    </div>
                    <div class="field col-12 md:col-6 hidden">
                        <label for="username" class="line-height-4 w-full text-xl ">Role</label>
                        <input type="text" class="input-field disabled" [(ngModel)]="role"  formControlName="role" readonly>
                    </div>

                    <div class="col-12 field text-center">
                        <p-button icon="pi pi-user" label="signup" type="submit" styleClass="p-2 w-6 m-auto " loadingIcon="true"></p-button>
                    </div>

                </div>
            </form>
            <div class="col-12 md:col-4 ">
                        <p-toggleButton styleClass="bg-blue-200 h-2rem w-full" [(ngModel)]="show" offLabel="show password" onLabel="hide"></p-toggleButton>
            </div>
            <div class="my-3 flex justify-content-between align-items-center pt-5">
                <p-button severity = "info" label="login" styleClass="p-2 w-15rem" routerLink='/login' />
                <a (click)="swithc()" class="cursor-pointer line-height-3 text-primary "> {{ labelinv }} </a>
            </div>
        </div>
</div>