<div class="w-full m-2  border-round-xl">
	<div class="h-7rem w-full relative bg-bluegray-500 border-round-top-xl">
	<img src="images/user1.jpg" alt="" class="w-5rem h-5rem border-circle absolute top-50 left-50 z-5 transform">		
	</div>

	<div class="w-full p-3">
		<div class="grid p-2">
			<div class="col-12 md:col-6 p-2">
				<div class="field">
				<p>
					Email address
				</p>
				<input type="text" value="email@gmail.com" disabled class="disabled-field">					
				</div>
				<div class="field">
				<p>
					Firstname
				</p>
				<input type="text" value="firstname" disabled class="disabled-field">					
				</div>
				<div class="field">
				<p>
					last name
				</p>
				<input type="text" value="email@gmail.com" disabled class="disabled-field">					
				</div>
				<div class="field">
				<p>
					Contact info
				</p>
				<input type="text" value="email@gmail.com" disabled class="disabled-field">					
				</div>
			</div>
		</div>
	</div>
</div>