
<div class=" left-0 z-5 bottom-0 w-screen surface-100">
<div class="w-screen  p-3 grid mt-5">
    <div class="col-12 md:col-3">
        <h1 class="text-contrast">CartNest</h1>
        <p>
            Experienc online shopping in style. Shop now to enjoy later
        </p>
    </div>
    <div class="col-12 md:col-6 flex flex-wrap gap-3 justify-content-between">
        <div>
            <h3>Customer care</h3>
                <h6>FAQ</h6>
                <h6>Shipping</h6>
                <h6>Return and exchange</h6>
        </div>
        <div>
            <h3>Company</h3>
                <h6>About Us</h6>
                <h6>Contact</h6>
                <h6>Privacy</h6>
                <h6>Terms and conditions</h6>

        </div>
    </div>

    <div class="flex gap-3 text-primar justify-content-end flex-wrap align-items-en p-3">
        <i class="pi pi-facebook"></i>
        <i class="pi pi-instagram"></i>
        <i class="pi pi-youtube"></i>
        <i class="pi pi-twitter"></i>
    </div>
</div>
<div class="flex align-items-center justify-content-center p-3">
    &#64;2024. CartNest.inc .All rights reserved
</div>    

</div>